.DS_Store
.classpath
.project
local.properties
.metadata/
*.class
*.java~
*.s
/cortadoout
/cortado_mjc
submission.txt
gen/
bin/
docs/report/report.aux
docs/report/report.log
docs/report/report.synctex.gz
res/runtime/libminijava.a
res/runtime/runtime-opt.s
res/runtime/runtime.o
res/runtime/runtime.s
mjc.jar
